.compose{
    position: absolute;
    bottom: 0;
    right: 70px;
    min-width: 500px;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    box-shadow: 0px 0px 8px rgb(51 51 51/59%);
    background-color: #fff;
}
.compose .compose_header{
    display: flex;
    justify-content: space-between;
    background: #333;
    color: #fff;
    align-items: center;
    padding: 7px 15px;
}
.compose_header__left span{
    font-size: 14px;
}
.compose_header__right{
    display: flex;
    align-items: center;
}
.compose .compose_header .compose_header__right svg{
    font-size: 15px;
    margin-left: 10px;
    transition: 0.2s linear 0s;
    padding: 3px;
}
.compose_header__right svg:nth-child(2) path{
    transform: rotate(45deg);
    transform-origin: center;
}
.compose .compose_header .compose_header__right svg:hover{
    background: #545454;
    cursor: pointer;
}
.compose_body{
    display: flex;
    flex-direction: row;
}
.compose_body .compose__body__form{
    display: flex;
    flex-direction: column;
}
.compose__body__form input, textarea{
    width: 100%;
    height: 40px;
    outline: none;
    border: 0px;
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143/12%);
    padding: 0px 10px;
}
.compose__body__form textarea{
    height: auto;
}
.compose_footer{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 12px 10px;
}
.compose_footer_left button{
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 0;
    background-color: #297be6;
    outline: none;
    color:#fff;
    font-size: 15px;
    padding: 0px 0px 0px 15px !important;
    border-radius: 4px;
    letter-spacing: 1px;
}
.compose_footer_left button svg {
    border-left: 1px solid #00000052;
    margin-left: 15px;
    padding: 6px 2px 6px 2px;
}
.compose_footer_right svg{
    font-size: 20px;
    margin-left: 10px;
    border-radius: 3px;
    color: gray;
    padding: 3px;
    transition: 0.2 linear 0s;
    cursor: pointer;
}
.compose_footer_right svg:hover{
    background-color: #eee;
    color: #000;
}