.sidebar{
    display: flex;
    flex-direction: column;
}
.composer__btn{
    padding: 10px 20px !important;
    border-radius: 40px !important;
    box-shadow: 2px 2px 3px #ccc;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    margin-left: 10px !important;
    max-width: 150px;
}
.sidebarOptions__heading{
    font-size: 15px;
    margin: 0;
    margin-left: 25px;
}